# Byte-compiled / cache
__pycache__/

# Virtual environments
.venv/
venv/

# IDEs
.vscode/
.idea/

# Build
build/
dist/
*.spec

# OS
.DS_Store

# Logs
*.log

# Ignore everything in data/
data/*
test_data.py